{% extends 'base.html' %}

{% block title %}
TwicasCoin Searcher
{% endblock %}


{% block body %}

<div class="container-fluid font-SW">
  <div class="margin-box1"></div>

  <div class="row">
    <div class="col-sm-1"></div>
    
    <div class="col-sm-10">
    <!-- main -->

    <h1>TwicasCoinSearcher</h1>
      <h2 class="en2 font-MP"> 1. 検索 </h2> 
      
      <div class="row text-left">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
          <form id="form1" action="coin" method="GET">
            <input id="sbox1" id="s" name="account" type="text" placeholder="アカウント名を入力"　/>
            <input id="sbtn1" type="submit" value="検索" />
          </form>
        </div>
        <!-- caution for Exception -->
        <div class="col-sm-4 caution">
          {{ caution }}
        </div>
      </div>

      <!-- Display Search-Result -->
      <h2 class="en2 font-MP"> 2. 検索結果</h2>
      <div class="row text-left">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
          <p class="en1 font-MP"> 現在の保有コイン数： {{ allcoin }}</p>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <!-- Display each Search-Result -->
      <table class="table font-JS">
        <thead class="thead-dark">
          <tr>
            <th scope="col">name</th>
            <th scope="col">coin</th>
            <th scope="col">left-time</th>
          </tr>
        </thead>
        <tbody>
          {% for key, values in coinuserinfo.items %}
            {% for user in values %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.coin }}</td>
                <td>{{ user.sbst }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

    <!-- main -->
    </div>
    
    <div class="col-sm-1"></div>
  </div>
</div>

{% endblock %}
